<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header class="header">
    <h1 class='title'>
      <%= title.toUpperCase() %>
    </h1>
    <p>
      Welcome to <%= title %>
    </p>
  </header>
  <main class="container">
    <a class="new-message-btn" href="/new">New Message</a>
    <section>
      <% messages.forEach((message)=> { %>
        <div class="message">
          <div class="message-header">
            <h3 class="message-title">
              <%= message.user %>
            </h3>
            <small>
              <%= dayjs(message.added).fromNow() %>
            </small>
          </div>
          <p>
            <%= message.text %>
          </p>
        </div>
        <% }) %>
    </section>
  </main>
</body>

</html>